:root {
  --mian-color: #f7d509;
  --basic-black: #0a0a0d;
  --basic-yellow: #f7d509;
  --basic-purple: #ba00ff;
  --basic-ash: #f8f8f8;
  --basic-pure-white-text: #fff;
  --basic-pure-black-text: #000;
}
